{
  "swagger": "2.0",
  "info": {
    "version": "2.0",
    "title": "SIF Cloud API",
    "description": "SIF Cloud APIs provide access to SIF Cloud provisioning resources."
  },
  "basePath": "/v2/sifcloud",
  "host": "api.us2.kimonocloud.com",
  "schemes": [
    "https"
  ],
  "securityDefinitions": { 
    "Actor": {
      "type": "oauth2",
      "flow": "application",
      "authorizationUrl": "https://api.us2.kimonocloud.com/oauth/token",
      "tokenUrl": "https://api.us2.kimonocloud.com/oauth/token"
    }
  },
  "security": [
    { "Actor": [ ] }
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],  
  "definitions": {
    "BaseResourceType": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid",
          "readOnly": true
        },
        "created_at": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "updated_at": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        }
      }
    },
    "ErrorType": {
      "type": "object",
      "properties": {
        "status": {
          "type": "integer",
          "description": "Transport-layer status code"
        },
        "code": {
          "type": "string",
          "description": "Application-layer error code"
        },
        "message": {
          "type": "string",
          "description": "Error message"
        },
        "ext_message": {
          "type": "string",
          "description": "Extended error message"
        },
        "details": {
          "type": "string",
          "description": "Details that may assist in diagnosing this error"
        }
      }
    },
    "PagedDataResponseType": {
      "type": "object",
      "properties": {
        "paging": {
          "type": "object",
          "properties": {
            "next": {
              "type": "string"
            }
          }
        }
      }
    },
    "SingleObjectResponseType": {
      "type": "object",
      "properties": {
        "error": {
          "$ref": "#/definitions/ErrorType"
        }
      }
    },    
    "SIFClient": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "SIFClientsResponse": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SIFClient"
              },
              "readOnly": true
            }
          }
        },
        {
          "$ref": "#/definitions/PagedDataResponseType"
        }
      ]
    },   
    "SIFClientResponse": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "data": {
              "$ref": "#/definitions/SIFClient"
            }
          }
        },
        {
          "$ref": "#/definitions/SingleObjectResponseType"
        }
      ]
    },
    "SIFZone": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "SIFZonesResponse": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "data": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/SIFZone"
              },
              "readOnly": true
            }
          }
        },
        {
          "$ref": "#/definitions/PagedDataResponseType"
        }
      ]
    },   
    "SIFZoneResponse": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "data": {
              "$ref": "#/definitions/SIFZone"
            }
          }
        },
        {
          "$ref": "#/definitions/SingleObjectResponseType"
        }
      ]
    }
  },
  "parameters": {
    "PageParam": {
      "name": "page",
      "in": "query",
      "description": "Specify the page number (defaults to 1)",
      "required": false,
      "type": "integer",
      "format": "int32"
    },
    "PageSizeParam": {
      "name": "page_size",
      "in": "query",
      "description": "Specify the page_size (defaults to the maximum page size)",
      "required": false,
      "type": "integer",
      "format": "int32"
    }
  },
  "paths": {
    "/clients": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "listClients",
        "summary": "Get SIF Clients",
        "description": "Get a list of `SIFClient`s",
        "parameters": [
          {
            "$ref": "#/parameters/PageParam"
          },
          {
            "$ref": "#/parameters/PageSizeParam"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "SIF Clients response",
            "schema": {
              "$ref": "#/definitions/SIFClientsResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Clients"
        ],
        "operationId": "createClient",
        "summary": "Create a SIF Client",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "SIF Client to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SIFClient"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SIFClientResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorType"
            }
          }          
        }
      }
    },
    "/clients/{id}": {
      "get": {
        "tags": [
          "Clients"
        ],
        "operationId": "findClient",
        "summary": "Find a `SIFClient`",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the object",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],        
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "SIF Client response",
            "schema": {
              "$ref": "#/definitions/SIFClientResponse"
            }
          }
        }
      }
    },
    "/zones": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "listZones",
        "summary": "Get SIF Zones",
        "description": "Get a list of `SIFZone`s",
        "parameters": [
          {
            "$ref": "#/parameters/PageParam"
          },
          {
            "$ref": "#/parameters/PageSizeParam"
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "SIF Zones response",
            "schema": {
              "$ref": "#/definitions/SIFZonesResponse"
            }
          }
        }
      },
      "post": {
        "tags": [
          "Zones"
        ],
        "operationId": "createZone",
        "summary": "Create a SIF Zone",
        "description": "",
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "description": "SIF Zone to create",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SIFZone"
            }
          }
        ],
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "schema": {
              "$ref": "#/definitions/SIFZoneResponse"
            }
          },
          "400": {
            "description": "Bad Request",
            "schema": {
              "$ref": "#/definitions/ErrorType"
            }
          }          
        }
      }
    },
    "/zones/{id}": {
      "get": {
        "tags": [
          "Zones"
        ],
        "operationId": "findZone",
        "summary": "Find a `SIFZone`",
        "description": "",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "id of the object",
            "required": true,
            "type": "string",
            "format": "uuid"
          }
        ],        
        "produces": [
          "application/json"
        ],
        "responses": {
          "200": {
            "description": "SIF Zone response",
            "schema": {
              "$ref": "#/definitions/SIFZoneResponse"
            }
          }
        }
      }
    }
  }
}